body {
    background-color: lightblue;
    background: linear-gradient(to right, orange, red);
}

h1 {
  background-color: white;
  margin: 30px;
  padding: 25px; 
  border-radius: 10px; 
}

section {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  margin-top: 50px; 
  padding: 5px;
}

input {
  border: solid 1px;
}

#resultBox {
  pointer-events: none;
  margin: 30px 0 0 100px;
  padding: 5px 0 5px 5px;
  border: solid 1px;
  height: 30px;
}

select {
  background-color: lightgrey;
  outline: none;
  padding: 2px; 
  border: solid 1px;
  font-weight: 400;
}

button {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 15px; 
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
}
